<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div appNgDropFiles (mouseSobre)="drop = $event" [ngClass]="{'file-over': drop}" class="well drop-zone">
            <h4>Deje caer aquí los archivos</h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar Archivos</h4>
        <button (click)="cargarArchivos()" class="btn btn-success m-1" [disabled]="archivos.length === 0">Cargar a Firebase</button>
        <button class="btn btn-danger m-1">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>image.png</td>
                    <td>12 MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>